/* @import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; */


.tooltip-content {
    background-color:#5380EA;
    height: fit-content;
    max-width: 13.83vw;
    text-align: center;
    padding: 0.25rem 0 0.25rem 0;
}

p {
    margin: 0;
}