.Leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 2rem 0rem; */
    color: white;
    font-family: monospace;
    font-size: x-large;
    margin-top: 2rem;
}
    
table {
    border: 4px solid darkblue;
    width: 800px;
    height: 200px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}